


@*<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-action="Index"
           asp-controller="Contact" asp-area="Contact">
            Quản lý liên hệ
        </a>
    </div>
</div>*@

<li class="nav-item dropdown">
    <a class="nav-item nav-link dropdown-toggle mr-md-2 text-danger" href="#"  data-toggle="dropdown" >
        Liên hệ
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" asp-area="Contact" asp-controller="Contact" asp-action="Index"> Quản lý liên hệ</a>
    </div>
</li>

